/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
}
#about {
    text-align: center; /* Center text horizontally */
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}
a {
    text-decoration: none;
    color: #0074D9; /* Change the color to your preference */
}

a:hover {
    text-decoration: underline;
}
/* In style.css */
#about img {
    display: block; /* Ensures the image is a block element */
    max-width: 100%; /* Keeps the image within the container's width */
    margin: 0 auto; /* Centers the image horizontally */
    max-height: 300px; /* Set a maximum height for the image if needed */
    vertical-align: middle; /* Center the image vertically */
}


